server:
  build: .
  command: server -automigrate=true --messages.required
  links:
    - postgres:postgres
  ports:
    - "8080:8080"
  volumes:
    - ~/.dockercfg:/root/.dockercfg
    - "/var/run/docker.sock:/var/run/docker.sock"
  env_file: .env
  user: root
  environment:
    EMPIRE_DATABASE_URL: postgres://postgres:postgres@postgres/postgres?sslmode=disable
    DOCKER_HOST: unix:///var/run/docker.sock
    EMPIRE_SCHEDULER: ecs
postgres:
  image: postgres
  ports:
    - "5432:5432"
