server:
  build: ./empire
  command: /go/bin/gin -t /go/src/github.com/remind101/empire/empire -g --appPort=8080 run server
  links:
    - postgres:postgres
  ports:
    - "8080:3000"
  volumes:
    - ~/.dockercfg:/root/.dockercfg
    - .:/go/src/github.com/remind101/empire
  env_file: .env
  user: root
  environment:
    EMPIRE_DATABASE_URL: postgres://postgres:postgres@postgres/postgres?sslmode=disable
    EMPIRE_DATABASE_MIGRATIONS: /go/src/github.com/remind101/empire/migrations
    EMPIRE_AUTOMIGRATE: true
    DOCKER_HOST:
postgres:
  image: postgres
  ports:
    - "5432:5432"
