.job__header {
  margin: 40px;
  text-align: center;

  .is-queued {
    color: #999;

    .spinner > div {
      background-color: #999;
    }
  }

  .is-started {
    color: #3498db;

    .spinner > div {
      background-color: #3498db;
    }
  }

  .is-failed, .is-errored {
    color: #e74c3c;
  }

  .spinner {
    margin-left: -10px;
  }
}

.job__destination {
  color: #999;
  font-size: 20px;
}

.job__log {
  padding: 10px;
  color: #f1f1f1;
  background: #000;
  font-family: monospace;
  font-size: 12px;
  line-height: 18px;
  white-space: pre-wrap;
  word-break: break-work;
  border-radius: 5px;
  margin-bottom: 40px;
}

.job__not-started {
  padding: 60px;
  text-align: center;
  border-radius: 5px;
  border: 4px dashed #eee;
}
