[Unit]
Description=Redis service

# Requirements
Requires=etcd.service
Requires=docker.service

# Dependency ordering
After=etcd.service
After=docker.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill redis
ExecStartPre=-/usr/bin/docker rm redis
ExecStartPre=/usr/bin/docker pull dockerfile/redis 
ExecStart=/usr/bin/docker run --name redis dockerfile/redis
# Stop
ExecStop=/usr/bin/docker stop redis

[X-Fleet]
# Don't schedule on the same machine as other Redis instances
Conflicts=redis.service

