user www-data;
worker_processes 4;
pid /run/nginx.pid;

events {
  worker_connections 768;
  # multi_accept on;
}

http {
  log_format upstreamlog '[$time_local] $remote_addr passed to: $upstream_addr: $request Upstream Response Time: $upstream_response_time Request time: $request_time';

  {{range $dir := lsdir "/services/web"}}
  upstream {{base $dir}} {
    {{$custdir := printf "/services/web/%s/*" $dir}}{{range gets $custdir}}
    server {{.Value}};
    {{end}}
  }

  server {
    listen 80;
    server_name {{base $dir}}.n.classchirp.com;
    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Client-IP $remote_addr;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://{{base $dir}};
    }
  }
  {{end}}

  # healthcheck
  server {
    listen 80;
    location /healthcheck {
      add_header Content-Type text/plain;
      return 200 'I am alive';
    }
  }
}
