{{range $dir := lsdir "/services/web"}}
upstream {{base $dir}} {
    least_conn;
    {{$custdir := printf "/services/web/%s/*" $dir}}{{range gets $custdir}}
    server {{.Value}};
    {{end}}
}
{{end}}

# servers

{{range $dom := lsdir "/empire/domains"}}
server {
    listen 80;
    {{$custdir := printf "/empire/domains/%s/*" $dom}}{{$doms := getvs $custdir}}
    server_name {{join $doms " "}};
  
    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Client-IP $remote_addr;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://{{$dom}};
    }
}
{{end}}
