<div class="job">
  <header class="job__header">
    <h1 class="job__status">
      <span ng-class="{ 'is-queued': job.isQueued(), 'is-started': job.isStarted() }" ng-if="job.isQueued() || job.isStarted()">
        <div class="spinner"></div>
        <span ng-if="job.isQueued()">Queued</span>
        <span ng-if="job.isStarted()">Deploying</span>
      </span>
      <span class="is-done" ng-if="job.isDeployed()">Deployed</span>
      <span class="is-failed" ng-if="job.isFailed()">Failed</span>
      <span class="is-errored" ng-if="job.isErrored()">Errored</span>
    </h1>
    <p class="job__destination">
    <strong ng-bind="job.ref" title="{{ job.sha }}"></strong>
    &#8674;
    <strong ng-bind="job.environment"></strong>
    </p>
  </header>
  <div class="job__not-started" ng-if="job.isQueued()">
    <strong>Hang Tight!</strong>
    Your logs should be showing up shortly
  </div>
  <div class="job__log" id="log" ng-bind-html="job.output | ansi" ng-if="!job.isQueued() && !job.isErrored()" sticky="job.output"></div>
  <div class="job__error" ng-if="job.isErrored()">
    <div class="alert alert-danger" ng-bind="job.error"></div>
  </div>
</div>
