<h2 class="page-header">Deploys</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Repo</th>
      <th>Ref</th>
      <th>Environment</th>
      <th>Provider</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <tr ng-repeat="job in jobs">
    <td>
      <a href="" ng-bind="job.github_id" ui-sref="app.jobs.detail({ jobId: job.id })"></a>
    </td>
    <td ng-bind="job.repo"></td>
    <td ng-bind="job.ref" title="{{ job.sha }}"></td>
    <td ng-bind="job.environment" title="{{ job.environment }}"></td>
    <td ng-bind="job.provider" title="{{ job.provider }}"></td>
    <td ng-bind="job.status"></td>
  </tr>
  </tbody>
</table>
