[Unit]
Description=Nginx load balancer for web server backends

# Requirements
Requires=etcd.service
Requires=docker.service

# Dependency ordering
After=etcd.service
After=docker.service

[Service]
# Let the process take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull remind101/nginx
ExecStart=/usr/bin/docker run --name nginx -e "HOST_IP=${COREOS_PRIVATE_IPV4}" -p ${COREOS_PUBLIC_IPV4}:80:80 remind101/nginx /usr/local/bin/confd-watch

# Stop
ExecStop=/usr/bin/docker stop nginx

[X-Fleet]
Conflicts=nginx.service